.form {
    width: 24%;
    margin: 40px 61px 0 20px;
    padding: 40px 40px 31px;
    background-color: #D9D9D933;
    border-radius: 10px;   
    
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.form__buttonSubmit {
    height: 56px;
    border: 1px solid #000000;
    border-radius: 10px;
    background-color: #000000;
    padding: 14px 40px;
    font-family: Rubik;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.02em;
    color: #D9D9D9;
    text-align: left;
    cursor: pointer;
    transition: opacity 0.5s linear;
}
.form__buttonSubmit:hover {
    opacity: 0.7;
}
.form__buttonSubmit:disabled {
    opacity: 0.4;
    cursor: auto;
}
.form__buttonSubmit_error {
    font-family: Rubik;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.02em;
    color: red;
}
.form__buttonSubmit_fulfilled {
    font-family: Rubik;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.02em;
    color: #000000;
}
.form__text {
    font-family: Rubik;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: -0.02em;
}
@media screen and (max-width: 750px) {
    .form {
        width: calc(100% - 61px - 20px - 40px - 40px);
    }
}
