.mainAdminUserPoint__point {

}
.mainAdminUserPoint__pointButton {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
}
.mainAdminUserPoint__pointButton:hover {
    opacity: 0.8;
    cursor: pointer;
}
.mainAdminUserPoint__pointText {
    margin: 0;
    padding-left: 10px;
}
.mainAdminUserPoint__pointProgress_passed {
    font-weight: 700;
}