body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import url(vendor/normalize.css);
@import url(vendor/fonts/Inter_Web/inter.css);
@import url(components/header/header.css);
@import url(components/main/main.css);
@import url(components/main/info/info.css);
@import url(components/main/about/about.css);
@import url(components/main/actions/actions.css);
@import url(components/main/license/licensia.css);
@import url(components/main/questions/questions.css);
@import url(components/main/questions/contentQuestions/contentQuestions.css);
@import url(components/main/questions/form/form.css);
@import url(components/main/questions/inputForm/inputForm.css);
@import url(components/main/questions/textarea/textarea.css);


