body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import url(vendor/normalize.css);
@import url(vendor/fonts/Inter_Web/inter.css);
@import url(vendor/fonts/Rubik/rubik.css);

@import url(components/header/header.css);

@import url(components/main/main.css);
@import url(components/main/info/info.css);
@import url(components/main/about/about.css);
@import url(components/main/actions/actions.css);
@import url(components/main/license/licensia.css);
@import url(components/main/questions/questions.css);
@import url(components/main/questions/contentQuestions/contentQuestions.css);
@import url(components/main/questions/form/form.css);
/* @import url(components/main/questions/inputForm/inputForm.css); */
@import url(components/main/questions/textarea/textarea.css);

@import url(components/footer/footer.css);

@import url(components/share/inputForm/inputForm.css);

@import url(components/questionnaire/questionnaire.css);
@import url(components/questionnaire/formQuestionnaire/formQuestionnaire.css);
@import url(components/questionnaire/formQuestionnaire/pointList/pointList.css);

@import url(components/signin/signin.css);

@import url(components/adminka/adminka.css);
@import url(components/adminka/headerAdmin/headerAdmin.css);
@import url(components/adminka/footerAdmin/footerAdmin.css);

@import url(components/adminka/mainAdminQuestionnaire/mainAdminQuestionnaire.css);
@import url(components/adminka/mainAdminQuestionnaire/mainAdminQuestionnairePoint/mainAdminQuestionnairePoint.css);
@import url(components/adminka/mainAdminQuestionnaire/mainAdminQuestionnaireCard/mainAdminQuestionnaireCard.css);
@import url(components/adminka/mainAdminQuestionnaire/mainAdminQuestionnaireCard/mainAdminQuestionnaireCardInput/mainAdminQuestionnaireCardInput.css);

@import url(components/adminka/mainAdminUser/mainAdminUser.css);
@import url(components/adminka/mainAdminUser/mainAdminUserPoint/mainAdminUserPoint.css);
@import url(components/adminka/mainAdminUser/mainAdminUserCard/mainAdminUserCard.css);
@import url(components/adminka/mainAdminUser/mainAdminUserCard/mainAdminUserCardInput/mainAdminUserCardInput.css);

@import url(components/adminka/mainAdminProgramm/mainAdminProgramm.css);

@import url(components/lkUser/lkUser.css);
@import url(components/lkUser/userLk/userLk.css);
@import url(components/lkUser/userNotice/userNotice.css);
@import url(components/lkUser/userStudy/userStudy.css);
@import url(components/lkUser/userStudy/programmPointUserStudy/programmPointUserStudy.css);

@import url(components/programms/programms.css);
@import url(components/programms/programmPoint/programmPoint.css);
@import url(components/programms/programmThema/programmThema.css);

@import url(components/share/programmsContent/programm1/thema11/thema111/thema111.css);
@import url(components/share/programmsContent/programm1/thema11/thema112/thema112.css);
@import url(components/share/programmsContent/programm1/thema11/thema113/thema113.css);
@import url(components/share/programmsContent/programm1/literature/literature.css);
@import url(components/share/programmsContent/programm1/test1/test1.css);

@import url(components/share/programmsContent/programmDev/programmDev.css);



